{% extends "catalog/home.html" %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <img src="{{ product.image_product | media_filter }}">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.name }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {% if product.current_version %}
                    <p><strong>Текущая версия:</strong> {{ product.current_version.version_name }} ({{ product.current_version.version_number }})</p>
                    {% else %}
                    <p><strong>Текущая версия:</strong> Нет активной версии</p>
                    {% endif %}
                    <li>{{ product.description | truncatechars:100 }}</li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'catalog:product_details' product.pk %}" role="button">Подробнее</a>
                {% if product.user == request.user or user.is_superuser or request.user|is_moderator %}
                <a class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
                {% endif %}
                <a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create'%}">Создать новый товар</a>
    {% endif %}
</div>
{% endblock %}